body {
    display: inline-block;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

#p01 {
    background-color: #F0F0F0;
}

#p02 {
    background-color: #FFFFFF;
}

#fit {
    height: 100%;
}

table.commands {
    table-layout:auto;
}

table.commands tr:nth-child(even) {
    background-color: #F0F0F0;
}

table.fixed {
    table-layout:auto;
}

table.fixed td {
    width: 85px;
    text-align:center;
    vertical-align:middle;
    line-height: 0.8;
}

table.fixed tr {
    height: 65px;
}

table.fixedlist {
    table-layout:fixed;
    background-color: #F0F0F0;
    border-spacing: 0px 5px;
}

table.fixedlist tr {
    height: 100%;
}

table.fixedlist td {
    text-align:left;
    vertical-align:top;
    line-height: 0.8;
}

table.fixedlist td.bunch {
    text-align:left;
}

table.fixedlist tr:nth-child(even) {
    background-color: #F8F8F8;
}

td.listlcol {
    text-align:left;
    vertical-align:center;
    font-size: 70%;
}

td.listrcol {
    text-align:left;
    vertical-align:center;
    font-size: 70%;
}
small {
    font-size: medium;
}

medium {
    text-align: center;
    font-size: 125%;
}

vsmall {
    font-size: small;
}

red {
    color:#FF0000;
}

blue {
    color:#0000FF;
}

gray {
    color:#B6B6B6;
}

td.op {
    color:#FF0000;
}

td.headingtd {
    font-size: 125%;
}

vimact {
    font-weight: 900;
    font-size: 160%;
}

vimactsmall {
    font-weight: 900;
    font-size: 130%;
}

reg {
    font-weight: 900;
    font-size: 100%;
}